<div class="custom-container" [ngClass]="{'sign-up-mode':isSignup }">
  <div class="forms-custom-container">
    <div class="signin-signup">
      <form [formGroup]="loginForm" (submit)="loginFormSubmit()" class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" formControlName='name' placeholder="Username" />
          <small class="text-danger">
            <span *ngIf="loginForm.get('name')?.errors && (loginForm.get('name')?.touched || loginFormSubmitted)">
              Required</span>
          </small>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" formControlName='password' placeholder="Password" />
          <small class="text-danger">
            <span
              *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginFormSubmitted)">
              Required</span>
          </small>
        </div>
        <p *ngIf="error" class="text-danger">user name or password wrong</p>
        <button class="btn solid">Login</button>

        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <form action="#" class="sign-up-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <button class="btn">Sign up</button>
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-custom-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          ex ratione. Aliquid!
        </p>
        <button class="btn transparent" (click)="singup()" id="sign-up-btn">
          Sign up
        </button>
      </div>
      <img src="/assets/img/log.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us ?</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
          laboriosam ad deleniti.
        </p>
        <button class="btn transparent" (click)="login()" id="sign-in-btn">
          Sign in
        </button>
      </div>
      <img src="/assets/img/register.svg" class="image" alt="" />
    </div>
  </div>
</div>
